/* Reset generale e adattamento dei relativi box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Ripristino delle impostazioni predefinite per il corpo del documento */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Ripristino delle intestazioni */
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #000;
    margin-bottom: 10px;
  }
  
  /* Ripristino dei paragrafi */
  p {
    margin-bottom: 10px;
  }
  
  /* Ripristino dei link */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Ripristino delle liste */
  ul, ol {
    list-style: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  /* Ripristino dei pulsanti */
  button {
    font-family: inherit;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/***** Inizio Sezione Header *****/  

.header{
    background-color: #255EE9;
    width: 100%;
    color: #FFFFFF;
    padding: 20px;
    gap: 10px;
}

.header ul{
    width: 80%;
    border:2px solid red;
    gap: 90px;
}

.header ul a{
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2em;
  padding: 2px;
}

.btn-sc-head{
  border: 2px solid red;
  padding: 10;
  width: 10%;
}
/***** Fine Sezione Header *****/

/***** Classi Aggiuntive *****/

.container-flexrow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: auto;
}

.container-flexcol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: auto;
}